<li class="text-primary" id="restaurantrealmealprice-{{ mealprice.id }}">
    <span class="text-secondary">{{ mealprice.guests }}: {{ mealprice.price }}€
    <a href="{{ path('admin_restaurantrealmealprice_delete', {id: mealprice.id}) }}" class="alert-text alert-link delete-restaurantrealmealprice" rel="restaurantrealmealprice-{{ mealprice.id }}">x</a>
    </span>
</li>    
        
