{#
   This is the base template of the all backend pages. Since this layout is similar
   to the global layout, we inherit from it to just change the contents of some
   blocks. In practice, backend templates are using a three-level inheritance,
   showing how powerful, yet easy to use, is Twig's inheritance mechanism.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/admin.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
             $('.basicAutoComplete').autoComplete({
                resolverSettings: {
                    url: 'testdata/test-list.json'
                }
            });

            // ********************************************** //
            // Autocomplete on a Citizen Birth City FORM     //
            // ********************************************* //

            var j_citizen_cityBirth;
            $(".c-cityBirth").on('keyup', function () {
                $("li").remove('.list-group-item');
                if ($(this).val().length > 2) {
                if (j_citizen_cityBirth) {
                    j_citizen_cityBirth.abort();
                }
                    var s = queryurl + "/" + $(this).val();
                    j_citizen_cityBirth = $.ajax({
                        url: s,
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            xhr.overrideMimeType("text/plain; charset=x-user-defined");
                        }
                    })
                            .done(function (data) {
                                $("li").remove('.list-group-item');
                                $.each(data, function (key, value) {
                                    //console.log(value);
                                    if (value.name)
                                    {
                                        $('#citizen_cityBirth_result').append('<li class="list-group-item link-class" prov="' + value.Province + '" state="Italia" cap="' + value.Cap+'">\n' + value.name + ' - ' + value.Province + '</li>');
                                    }
                                });
                            });
                }
            });
    
            $('#citizen_cityBirth_result').on('click', 'li', function () {
                var click_text = $(this).text().split('-');
                $('#citizen_cityBirth').val($.trim(click_text[0]));
                $("li").remove('.list-group-item');
            });

            // ********************************************** //
            // Autocomplete on a Citizen Address City FORM    //
            // ********************************************* //
            
            var j_citizen_address_city;
            $(".address-city").on("keyup", function () {
                $("li").remove('.list-group-item');
                if ($(this).val().length > 2) {
                if (j_citizen_address_city) {
                    j_citizen_address_city.abort();
                }
                    var s = queryurl + "/" + $(this).val();
                    j_citizen_address_city = $.ajax({
                        url: s,
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            xhr.overrideMimeType("text/plain; charset=x-user-defined");
                        }
                    })
                            .done(function (data) {
                                $("li").remove('.list-group-item');
                                $.each(data, function (key, value) {
                                    //console.log(value);
                                    if (value.name)
                                    {
                                        $('#cityresult').append('<li class="list-group-item link-class" prov="' + value.Province + '" state="Italia" cap="' + value.Cap+'">\n' + value.name + ' - ' + value.Province + '</li>');
                                    }
                                });


                            });
                }
            });

            $('#cityresult').on('click', 'li', function () {
                var click_text = $(this).text().split('-');
                var prov = $(this).attr('prov');
                var cap = $(this).attr('cap');
                var state = $(this).attr('state');
                $('#citizen_address_city').val($.trim(click_text[0]));
                $('#citizen_address_province').val(prov);
                $('#citizen_address_postcode').val(cap);
                $('#citizen_address_state').val(state);
                $("li").remove('.list-group-item');
            });

            $('.show-add-room').on('click', function(e) {
                e.preventDefault();
                $('#modal-from-dom').modal('show');
            });

            $('#modal-delete-room').on('click', function(e) {
                    e.preventDefault();
                    var href = $(this).attr('href');
                    var rel = $(this).attr('rel');

                    $.post(href, function(response) {
                        if (response['status']=='OK') {
                            $('#'+rel).remove();
                        }
                        $('#modal-from-dom-room-delete').modal('hide');
                    }, 'JSON');
                });
                
            $('.show-add-roomcost').on('click', function(e) {
                    e.preventDefault();
                    isVisible = $('#modal-from-dom-roomcost').hasClass("in");

                    if ( !isVisible ) {
                        var href = $(this).attr('href');
                        var rel = $(this).attr('rel');
                        $('#roomcost_add').attr('href', href);
                        $('#roomcost_add').attr('rel', rel);
                        $('#modal-from-dom-roomcost').modal('show');
                    }
                });

            $('#room_add').unbind('submit').bind('submit', function(e) {

                $('.alert').remove();
                e.preventDefault();

                var formSerialize = $(this).serialize();

                $.post(formurl, formSerialize, function(response) {

                    if (response['status']=='OK') {
                        $('.table-room').append(response['html']);
                        $('#roomresult').append('<div class="alert alert-dismissible alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Well done!</strong> La camera è stata inserita.</div>');

                        /*$('#room_real_name').val("");
                        $('#room_real_floor').val("");
                        $('#room_real_rooms').val("");
                        $('#room_real_guests').val("");
                        $('#room_real_single').val("");
                        $('#room_real_double').val("");
                        $('#room_real_twin').val("");
                        $('#room_real_sofa').val("");
                        $('#room_real_bunk').val("");*/
                        AjaxInit();
                    } else {
                        $('#roomresult').append('<div class="alert alert-dismissible alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Ops!</strong> Qualcosa è andato storto. Controlla i dati e riprova.</div>');
                    }
                }, 'JSON');
            });

            $('.show-add-extracost').on('click', function(e) {
                e.preventDefault();
                $('#modal-from-dom-extracost').modal('show');
            });

            $('#extracost_add').unbind('submit').bind('submit', function(e) {

                $('.alert').remove();
                e.preventDefault();

                var formSerialize = $(this).serialize();

                $.post(extracosturl, formSerialize, function(response) {

                    if (response['status']=='OK') {
                        $('.table-extracost').append(response['html']);
                        $('#extra_cost_price').val("");
                        $('#extracostresult').append('<div class="alert alert-dismissible alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Well done!</strong> Il costo è stata inserito.</div>');

                        AjaxInit();
                    } else {
                        $('#extracostresult').append('<div class="alert alert-dismissible alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Ops!</strong> Qualcosa è andato storto. Controlla i dati e riprova.</div>');
                    }
                }, 'JSON');
            });

            $('.delete-extracost').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                var rel = $(this).attr('rel');
                $('#modal-delete-extracost').attr('href', href);
                $('#modal-delete-extracost').attr('rel', rel);
                $('#modal-from-dom-extracost-delete').modal('show');
            });

            $('#modal-delete-extracost').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                var rel = $(this).attr('rel');

                $.post(href, function(response) {
                    if (response['status']=='OK') {
                        $('#'+rel).remove();
                    }
                    $('#modal-from-dom-extracost-delete').modal('hide');
                }, 'JSON');
            });
            
            $('#roomcost_add').unbind('submit').bind('submit', function(e) {

                $('.alert').remove();

                e.preventDefault();

                var href = $(this).attr('href');
                var rel = $(this).attr('rel');

                var formSerialize = $(this).serialize();

                $.post(href, formSerialize, function(response) {

                    if (response['status']=='OK') {
                        $('#'+rel).append(response['html']);
                        $('#room_real_price_price').val("");
                        $('#room_real_price_guests').val("");
                        $('#roomcostresult').append('<div class="alert alert-dismissible alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Well done!</strong> Il costo è stata inserito.</div>');

                        AjaxInit();
                    } else {
                        $('#roomcostresult').append('<div class="alert alert-dismissible alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Ops!</strong> Qualcosa è andato storto. Controlla i dati e riprova.</div>');
                    }
                }, 'JSON');

            });

            $('.delete-roomcost').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                var rel = $(this).attr('rel');
                $('#modal-delete-roomcost').attr('href', href);
                $('#modal-delete-roomcost').attr('rel', rel);
                $('#modal-from-dom-roomcost-delete').modal('show');
            });

            $('#modal-delete-roomcost').on('click', function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                var rel = $(this).attr('rel');

                $.post(href, function(response) {
                    if (response['status']=='OK') {
                        $('#'+rel).remove();
                    }
                    $('#modal-from-dom-roomcost-delete').modal('hide');
                }, 'JSON');
            });
        });
    </script>
{% endblock %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('admin_events') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'menu.events'|trans }}
        </a>
    </li>
{% endblock %}
