{% extends 'base.html.twig' %}

{% block main %}

    {{ form_start(form) }}
    {# render the task's only field: description #}

    <h4>{{ 'label.citizen'|trans }}</h3>
    <p class="citizens">
        {% for citizen in form.citizens %}
            {{ form_row(citizen.name) }}
        {% endfor %}
    </p>
    <input type="submit" value="{{ 'label.create_event'|trans }}" class="btn btn-primary" />
    <a href="{{ path('admin_event_edit', {id: event.id}) }}" class="btn btn-link">
        {{ 'action.back_to_list'|trans }}
    </a>  
    {{ form_end(form) }}

{% endblock %}
